/* IDs */

#content {
  background-color: #F4B400;
  border-radius: 25px;
  border-style: outset;
  box-shadow: 9px 9px #666;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
  word-spacing: 3px;
}

#chart-container {
  border: 15px;
  border-style: groove;
  display: none;
  margin: 10px;
  padding: 30px;
  visibility: hidden;
}

#code {
  display: none;
  visibility: hidden;
}

#curry {
  width: 90%;
}

#divider {
  background-color: #ce0f3d;
  color: #ce0f3d;
  height: 15px;
  list-style-type: none;
  width: auto;
}

#leftimage {
  height: 20%;
  left: 5px;
  position: absolute;
  top: 702px;
  width: 30%;
}

#rightimage {
  height: 20%;
  position: absolute;
  right: 5px;
  top: 702px;
  width: 30%;
}

#unauth {
  display: none;
  visibility: hidden;
}

/* Classes */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.requiresauth {
  display: none;
  visibility: hidden;
}

/* Main */

body {
  background-color: #4285F4;
}

h1 {
  text-shadow: 4px 3px 4px #4285F4;
}

iframe {
  background-color: #fff;
  border: 15px;
  border-color: #666;
  border-style: groove;
  bottom: 0;
  height: 95px;
  position: relative;
  width: 95.4%;
}

img {
  border: 15px;
  border-color: #666;
  border-style: groove;
  margin-top: 10px;
}

p {
  margin: 10px;
  padding: 30px;
  text-align: center;
}

textarea {
  background: #f4f4f9;
}

/* Links */

a:active {
  background-color: #fbff00;
}

a:visited {
  color: #000;
}

a:hover {
  background-color: #d9dd00;
}
