/* IDs */

#content {
  background-color: #f4b400;
  border-radius: 25px;
  border-style: outset;
  box-shadow: 9px 9px #666;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
  word-spacing: 3px;
}

#chart-container {
  border: 15px;
  border-style: groove;
  display: none;
  margin: 10px;
  padding: 30px;
  visibility: hidden;
}

#code {
  display: none;
  visibility: hidden;
}

#curry {
  border: 15px;
  border-color: #666;
  border-style: groove;
  width: 90%;
}

#divider {
  background-color: #ce0f3d;
  color: #ce0f3d;
  height: 15px;
  list-style-type: none;
  width: auto;
}

#figcaption {
  background-color: black;
  color: white;
  font-size: 0.1px;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

#icecreamtruck{
    width: 75%;
}

#loading {
  border: 15px;
  border-color: #666;
  border-style: groove;
  width: 50%;
}

#leftimage {
  border: 0;
  height: 60%;
  left: 100px;
  position: absolute;
  top: 2150px;
  width: 30%;
}

#right {
  border: 15px;
  border-color: #0f9d58;
  border-style: groove;
  display: none;
  visibility: hidden;
}

#rightimage {
  border: 0;
  height: 60%;
  position: absolute;
  right: 100px;
  top: 2150px;
  width: 30%;
}

#topic {
  font-size: 50px;
}

#unauth {
  display: none;
  visibility: hidden;
}

#wrong {
  border: 15px;
  border-color: #db4437;
  border-style: groove;
  display: none;
  visibility: hidden;
}

/* Classes */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.iformat {
  background-color: #f4b400;
  border-radius: 25px;
  border-style: outset;
  box-shadow: 3px 9px #666;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
  width: auto;
  word-spacing: 3px;
  margin-left: 360px;
  margin-right: 365px;
  padding-left: 500px;
  padding-right: 500px;
}

.loopSlides{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}

.requiresauth {
  display: none;
  visibility: hidden;
}

/* Main */

body {
  animation-name: gradient;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  background-color: #4285f4;
}

button {
  margin-top: 10px;
}

h1 {
  text-shadow: 4px 3px 4px #4285f4;
  font-size: 50px;
}

hr {
  border: 5px;
  border-style: groove;
}

iframe {
  background-color: #fff;
  border: 15px;
  border-color: #666;
  border-style: groove;
  bottom: 0;
  height: 125px;
  position: relative;
  width: 95.4%;
}

img {
  border: 15px;
  border-color: #666;
  border-style: groove;
  margin-top: 10px;
}

nav {
  margin-top: -20px;
}

p {
  margin: 10px;
  padding: 30px;
  text-align: center;
}

textarea {
  background: #f4f4f9;
}

/* Links */

a:active {
  background-color: #fbff00;
}

a:visited {
  color: #000;
}

a:hover {
  background-color: #9dbdff;
}

/* Animations */

@keyframes gradient {
  0%   {background-color:#db4437;}
  25%  {background-color:#f4b400;}
  50%  {background-color:#4285f4;}
  75%  {background-color:#0f9d58;}
  100% {background-color:#db4437;}
}