/* IDs */

#audioPlayer {
  margin-left: auto;
  margin-right: auto;
}

#chart-container {
  border: 15px;
  border-color: #666;
  border-style: groove;
  display: none;
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 100px;
  padding: 30px;
  visibility: hidden;
}
#code {
  display: none;
  visibility: hidden;
}

#code-button {
  margin-bottom: 20px;
  margin-top: -20px;
}

#curry {
  border: 15px;
  border-color: #666;
  border-style: groove;
  width: 90%;
}

#icecreamtruck{
  border: 15px;
  border-color: #666;
  border-style: groove;
  width: 75%;
}

#loading {
  border: 15px;
  border-color: #666;
  border-style: groove;
  width: 50%;
}

#right {
  border: 15px;
  border-color: #0f9d58;
  border-style: groove;
  display: none;
  visibility: hidden;
}

#topic {
  font-size: 50px;
}

#unauth {
  display: none;
  visibility: hidden;
}

#wrong {
  border: 15px;
  border-color: #db4437;
  border-style: groove;
  display: none;
  visibility: hidden;
}

/* Classes */

.border {
  background-color: #f4b400;
  border-radius: 25px;
  border-style: outset;
  box-shadow: 9px 9px #666;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 840px;
  word-spacing: normal;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.iformat {
  background-color: #f4b400;
  border-radius: 25px;
  border-style: outset;
  box-shadow: 9px 9px #666;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  text-align: center;
  width: auto;
  word-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}

.loopSlides{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}

.requiresauth {
  display: none;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
}

/* Main */

body {
  animation-name: gradient;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  background-color: #4285f4;
  background-image: url("/images/donutstwo.png");
  background-position: -2% 0%;
}

button {
  margin-top: 10px;
}

h1 {
  text-shadow: 4px 3px 4px #4285f4;
  font-size: 50px;
}

hr {
  border: 5px;
  border-style: groove;
}

iframe {
  background-color: #fff;
  border: 15px;
  border-color: #666;
  border-style: groove;
  bottom: 0;
  margin: auto;
  height: 155px;
  position: relative;
  width: 95.5%;
}

img {
  border: 15px;
  border-color: #666;
  border-style: groove;
  margin-top: 10px;
}

nav {
  margin-top: -20px;
}

p {
  margin: 10px;
  padding: 30px;
  text-align: center;
}

textarea {
  background: #f4f4f9;
}

/* Links */

a:active {
  background-color: #fbff00;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  background-color: #9dbdff;
}

/* Animations */

@keyframes gradient {
  0%   {background-color:#db4437;}
  25%  {background-color:#f4b400;}
  50%  {background-color:#4285f4;}
  75%  {background-color:#0f9d58;}
  100% {background-color:#db4437;}
}